<footer id="footer" class="footer bg-black-222">
    @*<div class="container pt-60 pb-30">
        <div class="row border-bottom-black">
            <div class="col-sm-6 col-md-3">
                <div class="widget dark">
                    <img class="mt-10 mb-20" alt="" style="max-height:95px;" src="~/images/PL.png">
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                @Html.Action("BlockDetails", "Node", new { id = 1, view = "BlockDetailsFooterContact" })
                @Html.Action("Social", "Home")
            </div>
            <div class="col-sm-6 col-md-6">
                @Html.Partial("MailingList")

                <div class="downl row">
                    <div class="col-md-12">
                        <a target="_blank" href="https://itunes.apple.com/us/app/%D8%B3%D8%AF%D9%8A%D8%AF/id1381320458?mt=8">
                            <img src="~/images/appstore.png" alt="" style="height: 55px; margin-top: 10px;">
                        </a>
                        <a target="_blank" href="https://play.google.com/store/apps/details?id=com.heights.sadeed">
                            <img src="~/images/android.png" alt="" style="height: 55px; margin-top: 10px;margin-left:8px;margin-right:8px;">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    <div class="footer-bottom bg-black-333">
        <div class="container">
            <div class="row">
                <div class="col-md-6 sm-text-center">
                    <p class="font-11 text-black-777 m-0">جميع الحقوق محفوظة لصالحة شركة فاب لاب</p>
                </div>
                <div class="col-md-6 text-left">
                    <div class="widget no-border m-0">
                        <ul class="list-inline sm-text-center mt-5 font-12">
                            <li><a href="#">تعريفات عامة</a></li>
                            <li>|</li>
                            <li><a href="#">سياسة الاستخدام</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>