<a class="menuzord-brand pull-left flip xs-pull-center" 
   asp-controller="Home" asp-action="Index">
    <img id="NavHeaderimg" src="~/images/PL.png" alt="">
</a>
<nav id="menuzord-right" class="menuzord blue no-bg">
    <ul class="menuzord-menu">
        <partial src="~" name="~/Views/Partial/_LoginPartial.cshtml" />
        <li>
            <a href="#">تواصل معنا</a>
        </li>
        <li>
            <a href="#">تعرف علينا</a>
        </li>
    </ul>
</nav>