@{
    ViewData["Title"] = "Home Page";
}
   
        <div class="container pb-2 pt-2">
            <div class="section-content">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 wow fadeInRight animation-delay1 text-theme-About" style="visibility: visible;">

                        <p><span style="font-size: 14pt;"><strong>&nbsp; &nbsp; &nbsp;ماهو الفاب لاب ؟</strong></span></p>
                        <p style="justify-content:center">
                            (الفاب لاب ) معمل التصنيع هو عبارة عن معمل احترافي يقدم التصنيع الرقمي للأفراد. ويحتوي الفاب لاب على آلات وأجهزة بتقنيات حصرية للمصانع والشركات بهدف إتاحت التصنيع للأفراد .
                            وتظهر قوة الفاب لاب في إتاحته الفرصة للأفراد لتصنيع وتطوير منتجات شخصيه او مجتمعية، وكمحطة انطاق مؤساسات وشركات تنشأ من خال تطوير العديد من الابتكارات .

                            هو مصطلح ظهر حديثاً وهو اختصار لعبارة Fabrication laboratory التي تعني (مختبر تصنيع) وهو مفهوم جديد أطلقه (معهد ماساتشوستس للتكنولوجيا) عام 2005 م لمساعدة المجتمعات الصغيرة والفقيرة
                            والمعزولة في تصنيع مواد لا تستطيع استيرادها. وتوصف بأنها ورشة صغيرة (ثابتة أو متنقلة في شاحنة) تحتوي على الآلات
                            والأدوات القادرة على صنع أي شيء تقريباً من ألعاب الأطفال البسيطة وحتى الأجهزة الالكترونية الحديثة. الاعتماد الرئيسي
                            في هذا المشروع على الأفكار المبتكرة ومستوى الإبداع لدى ذلك المجتمع في الاستفادة من هذه الورشة بأفضل طريقة. وقد لاقى هذا المشروع رواجاً عالمياً، وا
                            صبح اليوم أكثر من 35 مشروعاً منتشراً حول العالم انطلاقاً من عدة مدن أمريكية إلى أوروبا والشرق الأوسط وحتى قرى أفريقيا.
                        </p>
                        @*<ul style="list-style-type: square;">
                            <li><span style="font-size: 14pt;">&nbsp;&nbsp;يكفيك عناء البحث و يُسهل إجراءاتك القانونية من خلال جمع المحامين في منصة واحدة .</span></li>
                            <li><span style="font-size: 14pt;">&nbsp;&nbsp;يُقدم لك كافة المعلومات اللازمة عن مقدمي الخدمات لتختار المناسب وفق إحتياجُك .</span></li>
                            <li><span style="font-size: 14pt;">&nbsp;&nbsp;يُسهل لك الوصول للمحامين من خلال خيارات البحث المتعددة .</span></li>
                        </ul>*@
                    </div>
                </div>
            </div>
        </div>